*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    padding: 0 40px;
}
.navbar{
    width: auto;
    height: 70px;
    background: #000;
}
.sec1-heading{
    margin-top: 80px;
    text-align: center;
    line-height: 1.3;

}

.location p{
    margin-bottom: 5px;
    text-align: start;
}
.location-select{
    border: none;
    margin-top: 8px;
    margin-left: 2px;
    width: 240px;
    font-weight: bold;
}
.services{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
}
.services p{
    text-align: start;
    font-size: 15px;
    padding: 0;
}
.location{
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;

}

.location-select{
    width: 180px;
    border: none;
    outline: none;
    font-size: 22px;      /* Pune bada */
    font-weight: bold;
    background: transparent;
}
.location{
    position: relative;
}

.location::after{
    content: "⌄";
    position: absolute;
    top: 0px;
    font-weight: bolder;
    right: 15px;
    font-size: 30px;
    pointer-events: none;
}

.location-select{
    appearance: none;
    -webkit-appearance: none;
}

.location p{
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.location{
    width:250px;
    height:50px;
    border:1px solid #000;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}

.location img{
    width:28px;
    height:28px;
}

.location-text{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.loc-serv{
    text-align: center;
    width: none;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.services img{
    height: 30px;
    width: 30px;
}
.services{
    width:350px;
    height:50px;
    border:1px solid #000;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}

.trust{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
  padding: 0 2%;
  position: relative;
  z-index: 5;
  background-color: #fff;
  border-radius: 18px;
}

.trust-inner{
    /* border: 1px solid rgb(240, 238, 238); */
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
    border-radius: 50px;
    /* background-color: #f7efef; */
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.trust1{
   background-color: #fff;
   border-radius: 16px;
   /* padding: none; */
   height: 150px;
   /* margin-right: 30px; */
   width: 150px;
   text-align: center;
   border: 1px solid #e0dddd;
   
   /* margin-left: 30px; */
}
.trust-inner img{
    width: 70%;
    height: 70%;
}
.trust1 h4{
    margin-top: 10px;
    color: #555;
    text-decoration: none;
}

.trust a{
    text-decoration: none;
}

.repairs{
    width: 100%;
    padding: 30px;
}

.repair-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.repair-image{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.repair-image a{
    width: 350px;
}

.repair-image img{
    width: 100%;
    height: 220px;
    border-radius: 15px;
    object-fit: cover;
}

hr{
    width: 100%;
    margin: 0;
    border: 0;
    height: 5px;
    background: #d1cfcf;
}
.book-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    
}
.book-image img{
    width: 220px;
    height: 157px;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s ease;
    
}
.book-heading{
    margin-top: 50px;
    /* margin-left: 20px; */
}
.book-heading a{
    color: #000;
    text-decoration: none;
}
.book-img1 p{
    margin-top: 10px;
}
.book-img1 a{
    text-decoration: none;
    color: black;
    margin-top: 5px
}
.banner:hover img{
    transform: scale(1.08);
}


.book-img1:hover img{
    transform: scale(1.08);
}
.safety{
    width: 85%;
    height: 100px;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 18px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.icon{
    width: 60px;
    height: 60px;
    padding: 0px 20px;
    margin-left: 30px;
    margin-right: 10px;
    background: #eaf7ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    font-size: 28px;
    color: #0b6b3a;
}

.content h3{
    margin: 0;
    font-size: 24px;
}

.content p{
    margin-top: 8px;
    color: #555;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.banner img{
    border-radius: 12px;
    transition: transform 0.3s ease;

}
.book-heading h1{
    color: black;
    text-decoration: none;
    margin-left: 50px;
}
.book-heading a{
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
}

.book-heading a:hover{
    text-decoration: none;
}
.open-btn{
    background:#0a7;
    color:#fff;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}


.modal:target{
    visibility:visible;
    opacity:1;
}

.modal-box{
    width:600px;
    background:#e2d7d7;
    padding:25px;
    border-radius:15px;
    position:relative;
}

.close{
    position:absolute;
    top:15px;
    right:20px;
    font-size:30px;
    text-decoration:none;
    color:#000;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* width: 200px; */
    gap:10px;
    margin-top:20px;
}

.card{
    border:1px solid #ddd;
    padding:10px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    color: #555;
    height: 120px;
    width: 130px;
       transition: transform 0.10s ease;
    margin-top: 10px;
}
.card2{
    border: 0.5px solid #ddd;
    padding:10px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    color: #555;
    height: 150px;
    width: 130px;
       transition: transform 0.10s ease;
    margin-top: 10px;
}
.card2:hover{
    transform: scale(1.10);
}
.card:hover{
    transform: scale(1.10);
}


.card-link{
    text-decoration: none;
    color: inherit;
    display: block;
}
.card p{
    margin-top: 10px;
}
.card p:hover{
    color: rgb(78, 78, 240);
}

.card2-link{
    text-decoration: none;
    color: inherit;
    display: block;
}
.card2 p{
    margin-top: 10px;
}
.card2 p:hover{
    color: rgb(78, 78, 240);
}
.card2:hover{

}
.trust-inner6{
    border: 1px solid rgb(240, 238, 238);
    height: 70px;
    width: 70px;
    /* margin-top: 15px; */
    margin-left: 20px;
    border-radius: 50px;
    /* background-color: #f7efef; */
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-header{
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    position: relative;
    background: white;
}

.close{
    position:absolute;
    right:20px;
    top:18px;
    cursor:pointer;
    font-size:28px;
}
.modal-body{
    height: calc(650px - 90px);
    overflow-y: auto;
    padding:20px;
}

.modal-body::-webkit-scrollbar{
    width:6px;
}

.modal-body::-webkit-scrollbar-thumb{
    background:#bfbfbf;
    border-radius:20px;
}
.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    opacity:0;
    transition:.3s;
    z-index:9999;
}

.modal:target{
    visibility:visible;
    opacity:1;
}
.modal-box{
    width:600px;
    height:550px;
    background:#fff;
    border-radius:16px;
    overflow:hidden;
    position:relative;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}
.modal-header{
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #eee;
    position:relative;
    background:#fff;
}

.modal-header h2{
    margin:0;
}
.close{
    position:absolute;
    top:18px;
    right:20px;
    font-size:30px;
    text-decoration:none;
    color:#000;
}
.modal-body{
    height:480px;
    overflow-y:auto;
    padding:20px;
}
.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal-box{
    width: 500px;
    height: 550px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.modal-body h4{
    color: #666;
}
.service-grid a{
    text-decoration: none;
}
.modal-box{
    width: 520px;
    height: 550px;      
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.modal-header{
    height: 50px;
    margin-bottom: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}



.modal-body{
    max-height: calc(75vh - 80px);
    overflow-y: auto;
    padding: 20px;
    
}.footer{
    background:#fff;
    padding:60px 90px 30px;
    border-top:1px solid #ddd;
    font-family:Arial,sans-serif;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.footer-column{
    display:flex;
    flex-direction:column;
}

.footer-column h3{
    font-size:24px;
    margin-bottom:18px;
    color:#222;
    position:relative;
}

.footer-column h3::after{
    content:"";
    width:60px;
    height:3px;
    background:#3f6df6;
    display:block;
    margin-top:8px;
}

.footer-column a{
    text-decoration:none;
    color:#666;
    margin:8px 0;
    transition:.3s;
}

.footer-column a:hover{
    color:#3f6df6;
    padding-left:5px;
}

.social-icons{
    display:flex;
    gap:18px;
    font-size:25px;
    margin-top:10px;
}

.social-icons a{
    color:#444;
}

.social-icons a:hover{
    color:#3f6df6;
}

.cities{
    margin-top:50px;
    color:#555;
    font-size:14px;
    line-height:30px;
}

hr{
    margin:30px 0;
    border:none;
    border-top:1px solid #ddd;
}

.copyright{
    text-align:center;
    color:#777;
    font-size:14px;
}

.navbar{
    width: none;
    height: 70px;
    background-color: #555;
}

.navbar{
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    /* box-sizing: border-box; */
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* Navbar ke niche content hide na ho */
.navbar img{
height: 45px;      /* Apne logo ke hisaab se badha/ghata sakte ho */
    width: auto;
    display: block;
}

.logo img{
    height: 45px;          /* Logo ki height */
    width: auto;
    display: block;
    object-fit: contain;
    /* margin-left: 50px; */
}
.navbar1 img{
height: 45px;      /* Apne logo ke hisaab se badha/ghata sakte ho */
    width: auto;
    display: block;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    /* font-size: 15px; */
}
.fa-instagram{
    color: #E4405F;
}

.fa-facebook-f{
    color: #1877F2;
}

.fa-x-twitter{
    color: #555;
}

.fa-youtube{
    color: #FF0000;
}

.fa-linkedin-in{
    color: #0A66C2;
}

.social-icons a:hover{
    transform: translateY(-3px);
}
img{
    transition: transform .4s ease, box-shadow .4s ease;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,.18);
}


.modal-body a{
    text-decoration: none;
}
.open{
    font-size:30px;
    text-decoration:none;
    color:#000;
    margin-left: 40px;
}
.modal-body p a{
    color: #666;
    padding: none;
}
.modal-body h3{
    color: #000;
    text-decoration: none;

}
.line{
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
.cta{
    width: 150px;
    color: #0A66C2;
    font-weight: bold;
    border-radius: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #0A66C2;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 12px;   /* yaha se gap control hoga */
}
.nav-right a{
    text-decoration: none;
}

.cart-icon{
    font-size: 22px;
    color: #0A66C2;
    cursor: pointer;
}

.cart-circle{
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.3s;
}

.cart-circle i{
    font-size: 18px;
    color: #1e88e5;
}


.cart-circle1{
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #0A66C2;
}

.cart-circle1 i{
    font-size: 22px;
    color: #0A66C2;
}
.trust-inner6 img{
    width: 100%;
    height: 100%;
    border: #000;
    border-radius: 50px;
}
/* ================== Tablet ================== */
@media (max-width: 992px){

    body{
        padding:0 15px;
    }

    .trust{
        grid-template-columns:repeat(4,1fr);
        justify-items:center;
    }

    .book-image{
        flex-wrap:wrap;
    }

    .repair-image{
        flex-wrap:wrap;
    }

    .repair-image a{
        width:45%;
    }

    .book-img1 img{
        width:200px;
    }

    .footer-container{
        justify-content:flex-start;
    }

    .loc-serv{
        flex-direction:column;
        gap:15px;
        height:auto;
        margin-top:30px;
    }

    .location,
    .services{
        width:100%;
        max-width:450px;
    }
}


/* ================== Mobile ================== */

@media (max-width:768px){

    body{
        padding:0 10px;
    }

    .navbar{
        padding:0 15px;
    }

    .navbar img{
        height:35px;
    }

    .cta{
        display:none;
    }

    .sec1-heading h1{
        font-size:30px;
    }

    .trust{
        grid-template-columns:repeat(2,1fr);
        gap:15px;
    }

    .trust1{
        width:100%;
        max-width:160px;
    }

    .trust-inner{
        margin:15px auto 0;
    }

    .repair-image{
        flex-direction:column;
        padding:20px 0;
    }

    .repair-image a{
        width:100%;
    }

    .repair-image img{
        width:100%;
        height:auto;
    }

    .book-image{
        flex-wrap:wrap;
        gap:20px;
        padding:20px 0;
    }

    .book-img1{
        width:47%;
    }

    .book-img1 img{
        width:100%;
        height:auto;
    }

    .book-heading h1{
        margin-left:0;
        text-align:center;
        font-size:28px;
    }

    .banner img{
        width:100%;
        height:auto;
    }

    .safety{
        width:100%;
        height:auto;
        padding:20px;
    }

    .content h3{
        font-size:20px;
    }

    .content p{
        font-size:14px;
    }

    .footer{
        padding:40px 20px;
    }

    .footer-container{
        flex-direction:column;
        gap:30px;
    }

    .modal-box{
        width:95% !important;
        height:85vh;
    }

    .service-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .loc-serv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.location,
.services{
    width: 100%;
    max-width: 380px;
}

.trust{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
}

.trust1{
    width: 160px;
    height: 165px;
    padding: 12px 10px;
}

.trust-inner{
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
}

.trust-inner img{
    width: 55px;
    height: 55px;
}

.trust1 h4{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 5px;
}
}


/* ================= Small Mobile ================= */

@media (max-width:480px){

    .sec1-heading h1{
        font-size:24px;
    }

    .book-img1{
        width:100%;
    }

    .trust{
        grid-template-columns:1fr;
    }

    .service-grid{
        grid-template-columns:1fr;
    }

    .location-select{
        width:120px;
        font-size:18px;
    }

    .location,
    .services{
        height:55px;
    }

}
.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
}

.location-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   /* Left align */
    justify-content: center;
    margin-left: 12px;
}

.location-select{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.location p{
    margin: 2px 0 0;
    font-size: 13px;
    color: #666;
    text-align: left;
}
.modal-header1 p{
    color: #666;
}